<div class="banner row no-gutter">
    <div class="block-quote col-xs-12 col-sm-12 col-md-6">
    <blockquote class="banner-quote">
      Some Nice Quote<br>to Think About!
    </blockquote>
    <div class="banner-intro">
      <h2 class="banner-h2">
        Hi, I am Myra Bolo.
      </h2>
      <h3 class="banner-h3">
        Tagline or second title here
      </h3>
      <p class="banner-p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
      </p>
    </div>
    
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <img class="banner-image" src="https://firebasestorage.googleapis.com/v0/b/myra-bolo-portfolio.appspot.com/o/1_VIM_0380.jpg?alt=media&token=aff76189-e575-41e2-96cf-03ea5a2da5b6">
  </div>
  </div>
  <app-services-offered></app-services-offered>