<!-- <div class="menu-container row no-gutters">
    <div class="menu-item-container row no-gutters">
        <div class="menu-item-logo">
            <div>
                <a routerLink="/">
                    <img class="menu-logo" src="https://raw.githubusercontent.com/davoseaworthui/myrabolo/master/src/assets/myra%20logo%402x.png"> 
                </a>
            </div>
            <div>
                <mat-icon class="menu-icon">menu</mat-icon>
            </div>
        </div>
        
        <nav class="menu-wrapper col-lg-10 col-md-6">
            <ul class="menu-list">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
                <input class="menu-search" type="text" placeholder="&#xF002; Search" style="font-family:Nunito, FontAwesome" />    
                <li><a routerLink="/aboutme" routerLinkActive="active-link">About Me</a></li>
                <li><a routerLink="/books" routerLinkActive="active-link">Some of My Works</a></li>
                <li><a routerLink="/contact" routerLinkActive="active-link">Let's Talk!</a></li>
                <li><a routerLink="/events" routerLinkActive="active-link">Upcoming Events</a></li>
                <li><a routerLink="/testimonials" routerLinkActive="active-link">What People Say About Me</a></li>
                <li><a routerLink="/blog" routerLinkActive="active-link">Day to Day Stuff</a></li>
            </ul>
        </nav>
    </div>
    </div> -->
<div class="menu-container row no-gutters ">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid d-flex">
            <div class="mb-logo col-2 mr-auto p-2">
                <a routerLink="/">
                    <img class="menu-logo" src="https://raw.githubusercontent.com/davoseaworthui/myrabolo/master/src/assets/myra%20logo%402x.png"> 
                </a>
            </div> 
          <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
            <form class="">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
                <input class="menu-search" type="text" placeholder="&#xF002; Search" style="font-family:Nunito, FontAwesome" />  
              </form>
            <ul class="menu-list navbar-nav mb-lg-0 d-flex justify-content-end">
                <li class="nav-item"><a routerLink="/aboutme" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLinkActive="active-link">About Me</a></li>
                <li class="nav-item"><a routerLink="/books" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  routerLinkActive="active-link">Some of My Works</a></li>
                <li class="nav-item"><a routerLink="/contactme" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  routerLinkActive="active-link">Let's Talk!</a></li>
                <li class="nav-item"><a routerLink="/events" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  routerLinkActive="active-link">Upcoming Events</a></li>
                <li class="nav-item"><a routerLink="/testimonials" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  routerLinkActive="active-link">What People Say About Me</a></li>
                <li class="nav-item"><a routerLink="/blog" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  routerLinkActive="active-link">Day to Day Stuff</a></li>
            </ul>

          </div>
        </div>
      </nav>
    </div>