<div class="footer-wrapper">
    <div class="footer-content-info">
        <div><label>myrabolo@gmail.com</label><br>
            <label>© MYRA BOLO</label></div>
        <div><br>
            <span>Follow me on</span><br>
            <i class="fa fa-twitter fa-1x"></i>
            <i class="fa fa-facebook fa-1x"></i>
            <i class="fa fa-instagram fa-1x"></i>
            <i class="fa fa-linkedin fa-1x"></i>
        </div>

    </div>
    <div class="footer-content-subscribe">
        <p>Subscribe to my mailing list for the most recent updates</p>
        <div class="footer-content-subscribefacility">
            <input placeholder="Email Address"><button mat-button>Subscribe</button>
        </div>
        
    </div>
</div>
