/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

html,
body {
  height: 100%;
}
body,
.mat-body,
.mat-body-1,
.mat-typography {
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  font-family: "Nunito", sans-serif;
}
h1 {
  font-size: 3em;
  font-weight: 100;
  line-height: 1.2;
  font-family: "DM Serif Display", "Bodoni", serif;
}
label,
span {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1.3em;
  font-stretch: semi-condensed;
}
p {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1.1em;
}
button {
  font-family: "Nunito", sans-serif;
  padding: 10px;
  font-size: 20px;
  border: none;
}
button:hover {
  border-bottom: 3px inset solid #0476d0;
}
.mat-form-field-label {
  color: #333;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 991px) {
  main {
    padding-top: 7%;
  }
}
