<section class="section-wrapper-contact"> 
    <div class="section-contact">
        <div class="contact-header">
            <div class="contact-headertitle">
                <h1>“Some Quote or Tag-Line I Adhere to”</h1>
            </div>
        </div>
        <!-- <div class="contact-form">
            
            <div class="contact-formlayout">
                <label>Need some advice?</label>
                <select>
                    <option>One on one</option>
                    <option>Group forum</option>
                    <option>Webinar</option>
                </select>
                <div class="contact-formclientinfo">
                    <input placeholder="Full Name">
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
                    <input class="menu-search" type="text" placeholder="&#xf124; Search" style="font-family:Nunito, FontAwesome" />
                </div>
                <div class="contact-formclienmessage">
                    <input placeholder="Topic">
                    <input placeholder="Message">
                </div>
            </div>
        </div> -->
        <div class="contact-formwrapper">
            <div class="contact-formgraphics col-xs-0 col-sm-0 col-md-5" >
                <img src="https://raw.githubusercontent.com/davoseaworthui/myrabolo/gh-pages/assets/talk.png">
            </div>
            <form class="contact-form text-center p-5 col-sm-12 col-md-7">
                <div>
                    <h2 class="h4 mb-4">Need some advice?</h2>
                    <mat-form-field appearance="fill">
                        <mat-label>Let's meet!</mat-label>
                        <mat-select>
                            <mat-option value="" disabled selected>Choose option</mat-option>
                            <mat-option value="One on one" >One on one</mat-option>
                            <mat-option value="Forum discussion">Forum discussion</mat-option>
                            <mat-option value="Corporate events">Corporate events</mat-option>
                            <mat-option value="Life Coaching">Life Coaching</mat-option> 
                      
                      </mat-select>
                    </mat-form-field>
                </div>
                <mat-form-field>
                                    <!-- Name -->
                    <mat-label>Full Name</mat-label>
                    <input matInput type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
                    class="form-control mb-4" placeholder="Name">
                </mat-form-field>
    
                <!-- Email -->
                <input  matInput type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
                  class="form-control mb-4" placeholder="E-mail">
                  <mat-label>Email Address</mat-label>
              
                <!-- Subject -->
               
              
                <!-- Message -->
                <div   class="form-group">
                  <textarea matInput formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
                    rows="3" placeholder="Message"></textarea>
                    <mat-label>Message</mat-label>
                </div>
              
                <!-- Copy -->
              
                <!-- Send button -->
                <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
                  mdbWavesEffect type="submit" >Send</button>
              
              </form>
        </div>
    </div>
</section>