<div class ="mobile-nav">
    <div class="sidenav">
        <ul class="menu-list">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
            <input class="menu-search" type="text" placeholder="&#xF002; Search" style="font-family:Nunito, FontAwesome" />    
            <li><a routerLink="/aboutme" routerLinkActive="active-link">About Me</a></li>
            <li><a routerLink="/books" routerLinkActive="active-link">Some of My Works</a></li>
            <li><a routerLink="/contact" routerLinkActive="active-link">Let's Talk!</a></li>
            <li><a routerLink="/events" routerLinkActive="active-link">Upcoming Events</a></li>
            <li><a routerLink="/testimonials" routerLinkActive="active-link">What People Say About Me</a></li>
            <li><a routerLink="/blog" routerLinkActive="active-link">Day to Day Stuff</a></li>
        </ul>
    </div>
    <div class="sidenav-overlay"></div>
</div>
